# Environnement virtuel
.venv/
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers temporaires
*.tmp
*.log

# VS Code
.vscode/

# Sauvegardes
*.bak
*.old

# Caches
.cache/
.pytest_cache/

# Build / dist
dist/
build/
*.egg-info/

# Fichiers Windows
Thumbs.db
desktop.ini
